flows.json
[
    {
        "id": "a6d7daef.2359b8",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5b0f7cce.a7e7f4",
        "type": "debug",
        "z": "a6d7daef.2359b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "bf7d21d2.94b63",
        "type": "function",
        "z": "a6d7daef.2359b8",
        "name": "water quality",
        "func": "global.set('wq',msg.payload.waterquality)\nreturn{payload:msg.payload.waterquality}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "5b0f7cce.a7e7f4",
                "c54284b0.7dd608",
                "ed85f9f5.dd3ba8"
            ]
        ]
    },
    {
        "id": "bae4774.0af1b88",
        "type": "ibmiot in",
        "z": "a6d7daef.2359b8",
        "authentication": "apiKey",
        "apiKey": "fd5095af.9e6728",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "1234",
        "applicationId": "",
        "deviceType": "iotdevice",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "5b0f7cce.a7e7f4",
                "bf7d21d2.94b63",
                "867302f6.6695f"
            ]
        ]
    },
    {
        "id": "70030933.c19a58",
        "type": "ui_button",
        "z": "a6d7daef.2359b8",
        "name": "switch on",
        "group": "d0488435.8429f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "switch on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"switchon\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "981ce5be.a34dd8",
                "11883f7e.1c65d1"
            ]
        ]
    },
    {
        "id": "37027a62.7b0446",
        "type": "ui_button",
        "z": "a6d7daef.2359b8",
        "name": "switch off",
        "group": "d0488435.8429f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "switch off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"switch off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "981ce5be.a34dd8",
                "11883f7e.1c65d1"
            ]
        ]
    },
    {
        "id": "981ce5be.a34dd8",
        "type": "debug",
        "z": "a6d7daef.2359b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "11883f7e.1c65d1",
        "type": "ibmiot out",
        "z": "a6d7daef.2359b8",
        "authentication": "apiKey",
        "apiKey": "fd5095af.9e6728",
        "outputType": "cmd",
        "deviceId": "1234",
        "deviceType": "iotdevice",
        "eventCommandType": "home",
        "format": "json",
        "data": "myData",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "2e827673.91a30a",
        "type": "switch",
        "z": "a6d7daef.2359b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 540,
        "wires": [
            [
                "87782cb4.843c7"
            ]
        ]
    },
    {
        "id": "c54284b0.7dd608",
        "type": "rbe",
        "z": "a6d7daef.2359b8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "2e827673.91a30a"
            ]
        ]
    },
    {
        "id": "87782cb4.843c7",
        "type": "http request",
        "z": "a6d7daef.2359b8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=C128WjM9mD3LA5dcp6FbyGklhHwirQPXez4oTxn0KRsqNEBvVOvzxB2MYtoZA15WVISg4De3LNPHbjcm&message=water%20quality%20is%20not%20good%20,Dont%20drink%20River%20water&language=english&route=q&numbers=9492930968",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 870,
        "y": 540,
        "wires": [
            [
                "7cfbbaed.91e324"
            ]
        ]
    },
    {
        "id": "7cfbbaed.91e324",
        "type": "debug",
        "z": "a6d7daef.2359b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "867302f6.6695f",
        "type": "function",
        "z": "a6d7daef.2359b8",
        "name": "phvalue",
        "func": "global.set('ph',msg.payload.phvalue)\nreturn{payload:msg.payload.phvalue}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "79a6d039.e1f5d",
                "7a3c7f13.53602",
                "5b0f7cce.a7e7f4"
            ]
        ]
    },
    {
        "id": "79a6d039.e1f5d",
        "type": "ui_gauge",
        "z": "a6d7daef.2359b8",
        "name": "ph scale",
        "group": "d0488435.8429f8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ph scale",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "14",
        "colors": [
            "#08af08",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "fe43e1da.a4b9b",
        "type": "switch",
        "z": "a6d7daef.2359b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "8.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 660,
        "wires": [
            [
                "e0697ad1.6121f8"
            ]
        ]
    },
    {
        "id": "7a3c7f13.53602",
        "type": "rbe",
        "z": "a6d7daef.2359b8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "fe43e1da.a4b9b"
            ]
        ]
    },
    {
        "id": "e0697ad1.6121f8",
        "type": "http request",
        "z": "a6d7daef.2359b8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=C128WjM9mD3LA5dcp6FbyGklhHwirQPXez4oTxn0KRsqNEBvVOvzxB2MYtoZA15WVISg4De3LNPHbjcm&message=PH%20value%20of%20river%20water%20is%20exceeded%20,dont%20drink%20river%20water&language=english&route=q&numbers=9492930968",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 660,
        "wires": [
            [
                "fc619924.ba4888"
            ]
        ]
    },
    {
        "id": "fc619924.ba4888",
        "type": "debug",
        "z": "a6d7daef.2359b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "ed85f9f5.dd3ba8",
        "type": "ui_gauge",
        "z": "a6d7daef.2359b8",
        "name": "water quality",
        "group": "d0488435.8429f8",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "water quality",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0eaf0e",
            "#e6e600",
            "#c01616"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "fd5095af.9e6728",
        "type": "ibmiot",
        "name": "iotdata",
        "keepalive": "60",
        "serverName": "aeqag9.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "d0488435.8429f8",
        "type": "ui_group",
        "name": "Default",
        "tab": "865ae1d.9d1692",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "865ae1d.9d1692",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]